<form [formGroup]="form" class="container">
  <div class="form-group row">
    <label 
      for="isbn"
      class="col-sm-2 col-form-label">ISBN</label>
    <div class="col-sm-10">
      <input 
        type="text"
        name="isbn"
        class="form-control"
        formControlName="isbn"
        id="isbn">
        <div
          *ngIf="
            form.get('isbn').hasError('required') && 
            form.get('isbn').dirty" 
          class="invalid-feedback">
          Please provide a valid isbn.
        </div>
      </div>
  </div>
  <div class="form-group row">
    <label 
      for="title"
      class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input 
        formControlName="title"
        type="text"
        name="title"
        class="form-control"
        id="title">
        <div *ngIf="
          form.get('title').hasError('required') && 
          form.get('title').dirty" 
        class="invalid-feedback">
        Please provide a title with at least three characters.
      </div>
    </div>
    <div class="col-sm-12">
        <textarea 
          type="text"
          name="abstract"
          class="form-control"
          formControlName="abstract"
          id="abstract">
        </textarea>
        <div
        *ngIf="
          form.get('abstract').hasError('minlength') && 
          form.get('abstract').dirty" 
        class="invalid-feedback">
        Please provide a abstract with at least 15 characters.
      </div>
    </div>
  </div>
  <button
    [disabled]="form.invalid"
    (click)="createBook()"
    type="button"
    class="btn btn-primary">
    Create book
  </button>
</form>